@{
    ViewData["Title"] = "Home Page 2 ";
}

<div class="text-center" style="background-color: skyblue; color:white">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">sene olmus 2050</a>.</p>
</div>
